{:paths ["src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}
        re-frame/re-frame {:mvn/version "1.2.0"}
        reagent/reagent {:mvn/version "1.1.1"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        thheller/shadow-cljs {:mvn/version "2.18.0"}
        binaryage/devtools {:mvn/version "1.0.5"}
        re-frisk/re-frisk {:mvn/version "1.5.2"}
        metosin/reitit {:mvn/version "0.5.17"}}}