<settings>
  <servers>
    <server>
       <id>cognitect-dev-tools</id>
       <username>toromanj@gmail.com</username>
       <password>1038284F15E1E3D3B4796F17D9BDA5383A950CD9</password>
    </server>
  </servers>
</settings>