{:secrets #include #profile {:dev "/etc/kefirnadar-dev-secrets.edn"}
 :postgres {:dbtype "postgresql"
            :jdbcUrl #ref [:secrets :postgres :jdbcUrl]
            :minimumIdle 5
            :maximumPoolSize 30}}
