{:secrets #include #profile {:dev "/etc/kefirnadar-dev-secrets.edn"
                             :staging "/etc/kefirnadar-staging-secrets.edn"
                             :production "/etc/kefirnadar-production-secrets.edn"}
 :postgres {:main {:dbtype "postgresql"
                   :jdbcUrl #ref [:secrets :postgres :main :jdbcUrl]
                   :user #ref [:secrets :postgres :main :user]
                   :password #ref [:secrets :postgres :main :password]
                   :minimumIdle 5
                   :maximumPoolSize 30}}
 :imejl {:adresa-posiljaoca #ref [:secrets :imejl :adresa-posiljaoca]
         :api-kljuc #ref [:secrets :imejl :api-kljuc]
         :api-tajna #ref [:secrets :imejl :api-tajna]}
 :nrepl {:port 7888}}
